<div class="page-header">
  <h1>
    Uses
    <a href="/uses/new" class="btn btn-lg btn-success">New Use</a>
  </h1>
</div>

<% @log.keys.sort.reverse.each do |k|%>
<h5><%= k %></h5>
<% @log[k].each do |entry|%>
<td class="col-md-3" style="display: block;">
  <a href="/uses/<%= entry.id %>"><img src="<%= entry.purchase.product.image_url %>" height="200" width=auto></a>
</td>
<% end %>
<% end %>
